# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/dist
/build
/excel
/.idea/.name
/addPhoneById.spec
/.idea/misc.xml
/.idea/modules.xml
/mysql_xinysu_flashback
/mysqlbinlog.000003
/.idea/pandas-test.iml
/pandasTest.spec
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
